*.class
*~

# Package Files #
*.jar
*.war
*.ear

# Gradle
.gradle/
/build/
!/gradle/**/*
/logs/

# Eclipse
.classpath
.project
.settings/

# IDEA
*.iml
*.ipr
*.iws
/out/

# General test run stuff
/run/
